 
<div class="container">
  <div class="row row-header row-center">
    <div class="col-md-8">
      {%  include 'tgs-section-header',
        label: section.settings.header_label,
        title: section.settings.header_title
      %}
      <p class="desc">
        {{ section.settings.description }}
      </p>
    </div>
  </div>
  <div class="row row-collectionList">
    {% for block in section.blocks %}

      {% assign bgImage = block.settings.collection_bg | img_url: '1000x'  %}
      {% assign collectionObj = collections[block.settings.collection] %}
      {% assign collectionName = collectionObj.title  %}
      {% assign collectionUrl = collectionObj.url  %}

      <div class="col collectionItem">
        <div class="collectionItem_bg" style="background-image: url({{bgImage}}) "></div>
        <div class="collectionItem_content">
          <a href="{{ collectionUrl }}">
              <h1 class="collectionItem_header">
                {{ collectionName }}
              </h1>
          </a>
          <div class="collectionItem_actions">
            <a href="{{ collectionUrl }}" class="collectionItem_seemore">
              {{ block.settings.collection_bttn_label }}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
	"name": "TGS Collection List",
	"class": "tgs_collection_list",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "header_label",
      "label": "Header Label",
      "default": "Enter Header Label"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title",
      "default": "Enter Header Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Enter Long Description"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "collection_bg",
          "label": "Collection Background"
        },
        {
          "type": "text",
          "id": "collection_bttn_label",
          "label": "Collection See More Label",
          "default": "See More"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
