<!-- /templates/page.contact.liquid -->

<section class="jmgemsContact">
  <div class="container">
    <div class="row row-header row-center">
      <div class="col col-md-8">
        {%  include 'tgs-section-header',
          label: 'LATEST UPDATES',
          title: 'News & Events'
        %}
      </div>
    </div>
  
    <div class="row row-content row-center">
      <div class="col col-form">
        {% form 'contact' %}
  
          {% if form.posted_successfully? %}
            <div class="row row-field-messages">
              <p class="form--success">
                {{ 'contact.form.post_success' | t }}
              </p>
  
              <div class="error-messages">
                {{ form.errors | default_errors }}
              </div>
            </div>
          {% endif %}
          
  
          <div class="row">
            <!-- full name -->
            <div class="tgs_field col-md-6">
              <label 
                for="ContactFormName"
                class="tgs_field_label"
              >
                Full Name
              </label>
              <input
                class="tgs_field_input"
                id="ContactFormName"
                type="text"
                name="contact[name]"
                placeholder="Enter Full Name"
                autocapitalize="words"
                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
              >
            </div>
  
            <!-- email address -->
            <div class="tgs_field col-md-6">
              <label
                for="ContactFormEmail"
                class="tgs_field_label"
              >
                Email Address
              </label>
              <input
                class="tgs_field_input"
                id="ContactFormEmail"
                type="email"
                name="contact[email]" 
                placeholder="Enter Email Address"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              >
            </div>
          </div>
  
          <div class="tgs_field">
            <label
              for="ContactFormMessage"
              class="tgs_field_label"
            >
              Message
            </label>
            <textarea
              class="tgs_field_textarea"
              id="ContactFormMessage"
              rows="10"
              name="contact[body]"
              placeholder="Enter Message"
            >
              {% if form.body %}{{ form.body }}{% endif %}
            </textarea>
          </div>
      
          <div class="row row-actions row-center">
            <input
              type="submit"
              class="btn btn-bg-primary"
              value="Submit"
            >
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>
{% include 'jmgems-cta' %}


